.catalogue {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  grid-area: content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));
}

.catalogueItem {
  width: fit-content;
  margin: 20px;
}

.catalogueImg {
  width: 100%;
  caret-color: transparent;
}

.catalogueExtras {
  display: flex;
  justify-content: flex-end;
}

.catalogueBtn {
  display: inline;
  height: 1.7em;
  align-self: center;
  margin-right: 2em;
}

.cataloguePrice {
  display: inline;
  text-align: right;
  margin-right: 1em;
}

.imageSlider {
  position: relative;
}

.arrow {
  position: absolute;
  width: 40px;
  cursor: pointer;
  color: var(--grey);
}

.leftArrow {
  top: 50%;
  left: -1em;
  -webkit-filter: drop-shadow(-2px -2px 3px rgb(255, 255, 255))
    drop-shadow(2px 2px 3px rgb(255, 255, 255));
  filter: drop-shadow(-2px -2px 3px rgb(255, 255, 255))
    drop-shadow(2px 2px 3px rgb(255, 255, 255));
}

.rightArrow {
  top: 50%;
  left: 90%;
  -webkit-filter: drop-shadow(-2px -2px 3px rgb(255, 255, 255))
    drop-shadow(2px 2px 3px rgb(255, 255, 255));
  filter: drop-shadow(-2px -2px 3px rgb(255, 255, 255))
    drop-shadow(2px 2px 3px rgb(255, 255, 255));
}
