.navigation {
  grid-area: navigation;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: clamp(20vw, 20vw, 25vw);
  color: var(--white);
  background-color: var(--grey);
}

.navList {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.navLink {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--white);
}

.topLink {
  font-size: 1em;
  font-weight: bold;
  color: var(--white);
  align-self: flex-end;
}

.topLink:active,
.topLink:hover,
.topLink:focus,
.topLink:link,
.topLink:visited {
  text-decoration: none;
}

.navLink:active,
.navLink:hover,
.navLink:focus,
.navLink:link,
.navLink:visited {
  text-decoration: none;
}

.liShoppingCart {
  position: relative;
  margin-top: 30px;
}

.cartImage {
  width: 2em;
  height: 2em;
  caret-color: transparent;
}

.itemCounter {
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -10px;
  font-size: 0.5em;
  line-height: 20px;
  text-align: center;
  color: var(--grey);
}

@media screen and (max-width: 880px) {
  .navigation {
    /* grid-area: navigation; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-height: 200px;
    width: 100%;
    color: var(--white);
    background-color: var(--grey);
  }
}
